.ms-header {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background: #003f53; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #003f53 0%, #007ca6 50%, #006688 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #003f53 0%,#007ca6 50%,#006688 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #003f53 0%,#007ca6 50%,#006688 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f53', endColorstr='#006688',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 0 0 10px 0 rgba(0,50,100,0.5);
  box-shadow: 0 0 10px 0 rgba(0,50,100,0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;

  .ms-navbar {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      a { opacity: 0.5; }
      a.active { opacity: 1; }
    }

    .ms-navbar-link {
      position: relative;
      top: 12px;
      padding: 14px 8px;
      text-decoration: none;
      color: #FFFFFF;
    }

  }

}

.ms-logo {
  float: left;
  margin: 5px 25px 5px 10px;
}